@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">AçoStand</h1>

        <p><a href="/Identity/Account/Register">Register</a></p>
        <p><a href="/Identity/Account/Login">Login</a></p>
    </div>
